.film {
    background-color: #ffffff;
    opacity: 0.8;
}

.film p{
    color: #090647;
}

.film h3{
    color: #0d0a6c;
    margin-top: 2px;
    margin-bottom: 12px;
    letter-spacing: 3px;
    font-size: 30px;
}


.gras{
    font-weight: 800;
}

.lettreEspace{

}

.addFilmButton {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #64b6bc;
    border-color: #090647;
    color: #090647;
    opacity: 0.8
}

.actionButton {
    margin-top: 5px;
    background-color: #64b6bc;
    border-color: #090647;
    color: #090647;
    opacity: 0.8;
    text-decoration: none;
}

.addFilmButton:hover{

    opacity: 0.7;
}

.titreFilm span{
    color: #0d0a6c;
    font-size: 15px;
}

.padding20{

    margin-right: 8px;
    margin-left: 8px;
}

.redColor{
    background-color: aqua;
}

.personnageButton {
    padding: 0 7px;
    background-color: #090647;
}


.styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    color: #090647;
}

.styled-select{
    width: 313px;
    height: 34px;
    overflow: hidden;
    background-color: #64b6bc;
    border: 1px solid #0d0a6c;
    margin-left: 22px;
    margin-bottom: 3%;
}

.greenColor {
    color: #38b68e;
}

.customValidation{
    margin-left: 22px;
    margin-top: 5px;
    margin-right: 22px;
}