<a [routerLink]="['/films/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">

    <button type="button" class="addFilmButton btn btn-primary">
        Ajouter un film <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>

<div class="padding20 row">

    <div class="col-sm-6 col-md-4" *ngFor="let film of films">
        <div *ngIf="codeCat == film.categorieByCodeCat.codeCat || !codeCat">
            <div class="thumbnail film">
                <div class="caption">
                    <h3 class="titreFilm">
                        {{film.titre}}

                        <a [routerLink]="['/films/edit/'+film.noFilm]"
                           [routerLinkActive]="['router-link-active']"
                           [routerLinkActiveOptions]="{exact:true}">

                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </h3>

                    <p>
                        Durée : {{film.duree}} minutes <br/>
                        Date de sortie : {{film.dateSortie}} <br/>
                        Budget : {{film.budget}} €<br/>
                        Recette : {{film.montantRecette}} €<br/>
                        Catégorie : {{film.categorieByCodeCat.libelleCat}} <br/>
                        Réalisateur : {{film.realisateurByNoRea.prenRea}} {{film.realisateurByNoRea.nomRea}}
                    </p>

                    <a href="#">
                        <span (click)="deleteFilm(film.noFilm)"> Supprimer</span>
                    </a>

                    <button (click)="getPersonnageByNoFilm(film.noFilm)"
                            type="button"
                            class="personnageButton btn btn-primary btn-lg"
                            data-toggle="modal"
                            data-target="#myModal">
                        <span>Les personnages</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Personnages du film :</h2>
                    <div *ngFor="let personnage of personnages">
                        <p>
                            {{personnage.nomPers}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>