.categorie {
    background-color: #54a9d0;
}
.addCategorieButton {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #64b6bc;
    border-color: #090647;
    color: #090647;
}

.margin20{
    padding-right: 20px;
    padding-left: 20px;
}

.redColor{
    background-color: aqua;
}

.listeCategorie{
    padding-left: 20px;
    padding-right: 30%;

}