
<a [routerLink]="['/categories/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">


    <button type="button" class="addCategorieButton btn btn-primary">
        Ajouter un categorie <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>


    <ul class="listeCategorie list-group">
        <li *ngFor="let categorie of categories" class="list-group-item">
            <!--<span class="badge">14</span>-->
            {{categorie.libelleCat}}
            <a [routerLink]="['/films/categorie/' + categorie.codeCat]"
               [routerLinkActive]="['router-link-active']"
               [routerLinkActiveOptions]="{exact:true}">

                <br/>Voir les films
            </a>

        </li>
    </ul>
