<div class="container row">
    <!--<h1>Ajouter un acteur</h1>-->



    <form (ngSubmit)="onActeurSubmit(formGroupActeur.valid)" [formGroup]="formGroupActeur" id="form" class="topBefore">

        <div class="form-group">
            <input id="nomAct" type="text" formControlName="nomAct" class="form-control" placeholder="NOM">
        </div>

        <div class="form-group">
            <input id="prenAct" type="text" formControlName="prenAct" class="form-control" placeholder="PRENOM">
        </div>

        <div class="form-group">
            <input id="dateNaiss" type="text" formControlName="dateNaiss" class="form-control" placeholder="DATE DE NAISSANCE">
        </div>

        <div class="form-group">
            <input id="dateDeces" type="text" formControlName="dateDeces" class="form-control" placeholder="DATE DE DÉCÈS">
        </div>
        <input id="submit" type="submit" value="AJOUTER">

    </form>


    <!--<form (ngSubmit)="onActeurSubmit()" [formGroup]="formGroupActeur" class="col-xs-12">
        <div class="form-group col-xs-4">
            <label for="nomAct">Nom</label>
            <input formControlName="nomAct" type="text" class="form-control" id="nomAct" required>
        </div>
        <div class="form-group col-xs-4">
            <label for="prenAct">Prenom</label>
            <input formControlName="prenAct" type="text" class="form-control" id="prenAct">
        </div>
        <div class="form-group col-xs-4">
            <label for="dateNaiss">Date de naissance</label>
            <input formControlName="dateNaiss" type="text" class="form-control" id="dateNaiss">
        </div>
        <div class="form-group col-xs-4">
            <label for="dateDeces">Date de décès</label>
            <input formControlName="dateDeces" type="text" class="form-control" id="dateDeces">
        </div>

        <button type="submit" class="btn btn-default">Valider</button>
    </form>-->
</div>
{{formGroupActeur.value | json}}
{{formGroupActeur.valid }}
