.padding20{
    padding-right: 25%;
    padding-left: 22px;
    padding-top: 10px;
}

.redColor{
    background-color: aqua;
}

.actionButton {
    margin-top: 5px;
    background-color: #64b6bc;
    border-color: #090647;
    color: #090647;
    opacity: 0.8;
    text-decoration: none;
}

.addActeurButton {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #64b6bc;
    border-color: #090647;
    opacity: 0.8;
    color: #090647;
}


.margin0{
    margin: 0;
    padding: 0;
}

.spanCustom{
    color: #090647;
    font-size: 15px;
}

.subTitle {
    font-size: 14px;
}