
<a [routerLink]="['/acteurs/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">

    <button type="button" class="addActeurButton btn btn-primary">
        Ajouter un acteur <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>


<div class="list-group padding20">

    <a class="list-group-item" *ngFor="let acteur of acteurs">
        <h4 class="titreActeurs">{{acteur.prenAct}} {{acteur.nomAct}}
            <a [routerLink]="['/acteurs/edit/'+acteur.noAct]"
               [routerLinkActive]="['router-link-active']"
               [routerLinkActiveOptions]="{exact:true}">

                <span class="spanCustom glyphicon glyphicon-edit"></span>
            </a>
        </h4>
        Né le : {{acteur.dateNaiss}}
        <span *ngIf="acteur.dateDeces">/ Décédé le : {{acteur.dateDeces}}</span>

    </a>

</div>
