<div class="container row">

    <form (ngSubmit)="onActeurSubmit(formGroupActeur.valid)" [formGroup]="formGroupActeur" id="form" class="topBefore">

        <div class="form-group">
            <input id="nomAct" type="text" formControlName="nomAct" class="form-control" placeholder="NOM">
        </div>

        <div class="form-group">
            <input id="prenAct" type="text" formControlName="prenAct" class="form-control" placeholder="PRENOM">
        </div>

        <div class="validation" *ngIf="formGroupActeur.controls.dateNaiss.invalid">
            <span>La date doit être au format yyyy/mm/dd</span>
        </div>
        <div class="form-group">
            <input id="dateNaiss" type="text" formControlName="dateNaiss" class="form-control" placeholder="DATE DE NAISSANCE">
        </div>


        <div class="validation" *ngIf="formGroupActeur.controls.dateDeces.invalid">
            <span>La date doit être au format yyyy/mm/dd</span>
        </div>
        <div class="form-group">
            <input id="dateDeces" type="text" formControlName="dateDeces" class="form-control" placeholder="DATE DE DÉCÈS">
        </div>
        <input id="submit" type="submit" value="AJOUTER">

    </form>

</div>


