.film {
    background-color: #54a9d0;
}
.addFilmButton {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.margin20{
    padding-right: 20px;
    padding-left: 20px;
}

.redColor{
    background-color: aqua;
}