.padding20{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.redColor{
    background-color: aqua;
}


.addRealisateurButton {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #64b6bc;
    border-color: #090647;
    opacity: 0.8;
    color: #090647;
}

.addRealisateurButton:hover{
    opacity: 0.7;
}

.filmsButton{
    padding: 0 7px;
    background-color: #425f91;
}


.margin0{
    margin: 0;
    padding: 0;
}

.spanCustom{
    color: #090647;
    font-size: 15px;
}

