
<a [routerLink]="['/realisateurs/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">

    <button type="button" class="addFilmButton btn btn-primary">
        Ajouter un realisateur <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>


<div class="margin20 row">
    <div class="col-sm-6 col-md-4" *ngFor="let realisateur of realisateurs">
        <div class="thumbnail film">
            <!-- <img src="..." alt="...">-->
            <div class="caption">
                <h3>
                    {{realisateur.prenRea}} {{realisateur.nomRea}}
                </h3>
            </div>
        </div>
    </div>
</div>