.personnage {
    background-color: #54a9d0;
}
.addPersonnageButton {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #64b6bc;
    border-color: #090647;
    color: #090647;
}

.margin20{
    padding-right: 20px;
    padding-left: 20px;
}

.redColor{
    background-color: aqua;
}

.removePersonnage {
    background-color: #914d43;
}

.listePersonnage{
    padding-left: 20px;
    padding-right: 30%;

}