
<div *ngIf="resultat == 'false'" onclick="$('.alert1').hide()" class="customValidation alert1 alert alert-danger">
    <strong>Erreur</strong>  Un personnage existe déjà pour cet acteur dans ce film
</div>


<div *ngIf="resultat == 'true'" onclick="$('.alert2').hide()" class="customValidation alert2 alert alert-success">
    <strong>Succès</strong>  Le personnage a été correctement ajouté
</div>

<a [routerLink]="['/personnages/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">

    <button type="button" class="addPersonnageButton btn btn-primary">
        Ajouter un personnage <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>

<button type="button" (click)="resetTrier()" class="addPersonnageButton btn btn-primary">
    Voir tous les personnages <span class="glyphicon glyphicon-search"></span>
</button>


<ul class="listeCategorie list-group listePersonnage">

    <span *ngFor="let personnage of personnages">
        <li  *ngIf="(personnage.noAct == idActeur || !idActeur) && (!idFilm || personnage.noFilm == idFilm)" class="list-group-item">

            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span class="bold">{{personnage.nomPers}}</span> joué par <span class="bold">{{personnage.acteurByNoAct.prenAct}} {{personnage.acteurByNoAct.nomAct}}</span>
                -
                <span class="glyphicon glyphicon-star"></span>
                Film : <span class="bold">{{personnage.filmByNoFilm.titre}} </span>
            </p>

            <br/>
            <button type="button" (click)="trierPersonnageByFilm(personnage.noFilm)" class="addPersonnage2Button btn btn-primary">
                Tous les personnages du film <span class="glyphicon glyphicon-search"></span>
            </button>

            <button type="button" (click)="trierPersonnageByActeur(personnage.noAct)" class="addPersonnage2Button btn btn-primary">
                Tous les personnages de l'acteur <span class="glyphicon glyphicon-search"></span>
            </button>

            <button type="button" (click)="deletePersonnage(personnage.noFilm, personnage.noAct)" class="addPersonnage2Button btn btn-primary">
                Supprimer <span class="glyphicon glyphicon-remove"></span>
            </button>
        </li>
    </span>
</ul>

