
<a [routerLink]="['/personnages/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">

    <button type="button" class="addPersonnageButton btn btn-primary">
        Ajouter un personnage <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>


<div class="margin20 row">
    <div class="col-sm-6 col-md-4" *ngFor="let personnage of personnages">
        <div class="thumbnail personnage">
            <!-- <img src="..." alt="...">-->
            <div class="caption">
                <p>
                    {{personnage.nomPers}}
                </p>
            </div>

            <a (click)="removePersonnage(personnage.noFilm, personnage.noAct)">
                Supprimer <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</div>