
<a [routerLink]="['/personnages/add']"
   [routerLinkActive]="['router-link-active']"
   [routerLinkActiveOptions]="{exact:true}">

    <button type="button" class="addPersonnageButton btn btn-primary">
        Ajouter un personnage <span class="glyphicon glyphicon-plus"></span>
    </button>

</a>



<ul class="listeCategorie list-group listePersonnage">
    <li *ngFor="let personnage of personnages" class="list-group-item">
        {{personnage.nomPers}}
        <span class="glyphicon glyphicon-remove"
              (click)="deletePersonnage(personnage.noFilm, personnage.noAct)">
        </span>
    </li>
</ul>

